.add {
  background-color: var(--clr-background);
  padding: 1em;
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__heading {
    font-weight: 500;
    color: var(--clr-accent);
  }

  &__inputs {
    width: 100%;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--clr-container);
      width: 100%;
      border-radius: 35px;
      padding: 0.5em 1em;
      margin: 1em 0em;
    
      &__title {
        font-weight: 300;
        font-size: 1em;
        color: var(--clr-accent);
      }
    
      &__input {
        background: none;
        border: none;
        font-size: 1.5em;
        text-align: center;
    
        &:focus {
          outline-color: var(--clr-accent);
        }
      }

      &__option {
        background-color: var(--clr-background);
      }
    }
  }

 &__button {
  width: 100%;
  padding: 0.75em;
  color: var(--clr-background);
  background-color: var(--clr-accent);
  border: none;
  border-radius: 35px;
  font-size: 1.25em;
  font-weight: 500;
 }
}


.react-datepicker__input-container {
  display: flex;
}


.datepicker-input {
  background: none;
  border: none;
  font-size: 1.5em;
  text-align: center;
  width: 100%;

  &:focus {
    outline-color: var(--clr-accent);
  }
}


.input-missing {
  color: red;
}


@media screen and (min-width: 481px) {
  .add {
    padding: var(--padding-481)
  }
}


@media screen and (min-width: 769px) {
  .add {
    padding: var(--padding-769);

    &__inputs {
      width: 60%;
      max-width: 430px;
    }

    &__button {
      width: 60%;
      max-width: 430px;
    }
  }
}


@media screen and (min-width: 1025px) {
  .add {
    padding: var(--padding-1025);

    &__inputs {
      width: 40%;
    }

    &__button {
      width: 40%;
    }
  }
}