.dashboard {
  background-color: var(--clr-background);
  padding: 1em;
  height: 100vh;
}

.dashboard__top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__button {
    background: none;
    border: none;
    font-size: 1.25em;
  }
}

.dashboard__mid {
  margin-top: 1em;
  display: flex;
  align-items: center;
  flex-direction: column;

  &__total {
    color: var(--clr-accent);
  }
}

.dashboard__categories {

  &__category {
    background-color: var(--clr-container);
    border-radius: 35px;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;

    &__left {
      display: flex;
      align-items: center;
      
      &__logo {
        margin-right: 0.75em;
        size: 5em;
      }

      &__name {
        line-height: 1.17em;
        font-weight: 500;
      }
      
      &__transactions {
        line-height: 1em;
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &__amount {
      color: var(--clr-accent);
    }
  }
}

.chart {
  margin-left: -0.5em;
}



