.history {
  background-color: var(--clr-background);
  padding: 1em;
  height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;

  &__month-selection{
    width: 100%;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    &__button {
      background: none;
      border: none;
      font-size: 1.25em;
      cursor: pointer;
    }
  }


  &__heading {
    font-weight: 500;
    margin-bottom: 0.5em;
    color: var(--clr-accent);
  }
  
  &__container {
    background-color: var(--clr-container);
    border-radius: 35px;
    padding: 1em;
    margin-bottom: 1em;
    width: 100%;
    cursor: pointer;

    &__main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      
          &__left {
            display: flex;
            align-items: center;
            
            &__logo {
              margin-right: 0.75em;
              size: 5em;
            }
      
            &__name {
              line-height: 1.17em;
              font-weight: 500;
            }
            
            &__transactions {
              line-height: 1em;
              color: rgba(255, 255, 255, 0.5);
            }
          }
          &__amount {
            color: var(--clr-accent);
          }

    }
    &__buttons {
      margin-top: 0.5em;
      display: flex;
      justify-content: space-between;

      &__btn {
        width: 48%;
        border: none;
        border-radius: 30px;
        padding: 0.4em;
        font-weight: 500;
        cursor: pointer;

        &--edit {
          color: var(--clr-background);
        }
        &--delete {
          background-color: rgb(168, 20, 20);
  
        }

      }

    }
  }
}

@media screen and (min-width: 481px) {
  .history {
    padding: var(--padding-481)
  }
}


@media screen and (min-width: 769px) {
  .history {
    padding: var(--padding-769);

    &__container {
      max-width: 430px;

      &__main__left__name,
      &__main__left__transactions {
          margin-left: 0.5em;
      }
    }

    &__month-selection {
      background-color: var(--clr-container);
      padding: 0em 1em;
      border-radius: 35px;
      width: 60%;
      margin: 0 auto;
      max-width: 430px;
    }
  }
}

@media screen and (min-width: 1025px) {
  .history {
    padding: var(--padding-1025);

    &__month-selection {
      margin: 0 auto;
      width: 40%;
    }

    &__container {
      width: 40%;
    }
  }
}