.nav {
  padding: 0 1em;
  background-color: var(--clr-background);
  height: 5em;
  color: white;
  filter: drop-shadow(0 -0.1em 1em #d0ef0a3d);
  display: flex;
  justify-content: center;

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__btn{
      background: none;
      border: none;
      line-height: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-decoration: none;
    }
  }
}


@media screen and (min-width: 481px) {
  .nav {
    padding: var(--padding-481)
  }
}


@media screen and (min-width: 769px) {
  .nav {
    padding: 0 var(--padding-769);

    &__buttons {
      width: 60%;
      max-width: 430px;
    }
  }

}


@media screen and (min-width: 1025px) {
  .nav {
    padding: 0 var(--padding-1025);

    &__buttons {
      width: 40%;
    }
  }

}